mat-card{
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    // height: 100%;
    background-color:#B2DFDB ;
    left: 30%;
}
a:link, a:visited{
    background-color: #f44336;
    color: white;
    padding: 4%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4%;
  }
  
  a:hover, a:active {
    background-color: #f44336dd;
  }
  button{
    margin: 2%;
  }
  .one{
    position: absolute;
    left: 75%;
  }
  #layer{
    margin-bottom: 7%;
  }