.registerCard{
    margin: 4%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 80%;
    background-color:#B2DFDB ;
    left: 30%;
}
mat-form-field{
    display: block;
}